.event-details{
  padding: 16px;
}

.event-details img{
  max-width: 500px;
  max-height: 600px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.event-details h1{
  font-size: 24px;
  font-weight: bold;
}
.event-details p{
  font-size: 16px;
  margin-bottom: 10px;
}