.event-card {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 5px 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap :15px;
}

.event-image{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}


.event-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-dark);
  margin-bottom: 15px;
}

.event-button { 
  align-self:flex-start ;  
  padding: 10px 15px;
  background-color: var(--primary-color);
  font-size: var(--font-size-base);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  color: var(--button-text-primary);

}

.event-button a{
  color: var(--button-text-primary);
  text-decoration: none;
}

.event-button:hover {
  opacity: 0.8;
}

.event-button:active {
  transform: scale(0.95); /* Butona tıklandığında görsel bir tepki */
}
.event-date{
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: bold;

}
.event-location {
  font-size: var(--font-size-sm);
  margin-bottom: 15px;
  font-weight: bold;
}
.person-img{
  width:30px ;
  height:30px;
  border-radius: 50%;
}
.event-card .title {
  font-size: var(--font-size-lg);
  color: var(--text-color);
  font-weight: bold;
}

.title a{
  text-decoration: none;
  color: var(--text-color);

}
.title:hover{
  text-decoration: underline;
}
.participant-list{ 
  display: flex;
  gap: 5px;
}